<div class="card">
    <div class="card-header">
           <a class="btn btn-dark text-decoration-none text-white" style="float:right" href="/user/task/create">Add</a>
    </div>
    <div class="card-body">
        {{#if tasks}}
            <table id="table" class="table">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                {{#each tasks}}
                    <tr>
                        <td>{{this.dataValues.title}}</td>
                        <td class="description">{{this.dataValues.description}}</td>
                        <td>
                            <a class="text-decoration-none text-dark" title="View Task" href="/user/task/{{this.dataValues.id}}"><i class="fa fa-eye"></i></a>
                            <a class="text-decoration-none text-dark m-2" title="Edit Task" href="/user/task/{{this.dataValues.id}}/edit"><i class="fa fa-pencil-alt"></i></a>
                            <a class="text-decoration-none text-danger" title="Delete Task" href="/user/task/{{this.dataValues.id}}/delete"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                {{/each}}
            </table>
        {{else}}
            <div>Nothing found</div>
        {{/if}}
    </div>
</div>