{{#if task}}
        <div class="card">
            <div class="card-header container">
                <div class="row">
                    <span class="col-md-6">{{task.dataValues.title}}</span>
                    <span class="col-md-6">
                        <a class="btn btn-danger text-decoration-none text-white" style="float:right; margin-left: 5px" href="/user/task/{{task.dataValues.id}}/delete">Delete</a>
                        <a class="btn btn-dark text-decoration-none text-white" style="float:right" href="/user/task/{{task.dataValues.id}}/edit">Edit</a>
                    </span>
                </div>
            </div>
            <div class="card-body">
                {{task.dataValues.description}}
            </div>
        </div>
{{/if}}